body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #333;
}
h1 {
    font-size: 48px;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label, input, select, button {
    margin: 10px;
    font-size: 18px;
}
input[type="text"], select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
#item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.item:hover {
    transform: scale(1.05);
}
/*estilizando o formulário de filtro:*/
#filter-form {
    margin-top: 20px;
}
#filter-category {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filtered {
    background-color: #007BFF;
    color: white;
}
@media only screen and (max-width: 600px) {
    h1 {
         font-size: 36px;
        }
