@font-face {
  font-family: Poppins-Bold;
  src: url("fontes/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("fonts/Poppins-SemiBold.ttf");
}

body {
  font-family: Poppins-Bold;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.cadastro {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: border-bottom-color 0.3s;
}

input:focus {
  border-bottom-color: #29d;
}

#proximo {
  background-color: #29d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-proximo {
  text-align: center;
}

#proximo:hover {
  background-color: #333333;
}

.button-voltar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

.voltar {
  background-color: #29d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.voltar:hover {
  background-color: #333333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.balao-mensagem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -410%);
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3498db; 
  color: #fcecec; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none; 
}
